@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gothic+A1&display=swap');

body {
  margin: 0;
}

* {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  margin: 0;
}

ul {
  padding: 0 !important;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  border-bottom: 1px solid lightgray;
}

header * {
  margin: 0 10px;
}

header a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

header a:hover {
  color: #0a58ca;
}

header div {
  font-size: 1.7rem;
  color: #00bbff;
}