#total {
    height: 100vh;
    align-content: center;
    display: flex;
    justify-content: center;
}

#total>div {
    width: 500px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container>div {
    display: inline-flex;
}

#text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0px 10% 0px 10%;
    margin-bottom: 30px;
}

.introComment {
    color: gray;
}

.introComment li {
    list-style-type: none;
}

/* 정렬 필요 */
ul { margin: 0 auto; display: table;}
ul li{ margin: 4px 0;}

.title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 50px;
    color: #00bbff;
    align-items: center;
}

.intro {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    align-items: center;
}

.comment {
    align-items: center;
    margin: 10px;
}

/* 이미지 */
.memProfImg {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 30px auto;

    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memBtn:hover {
    background-color: #479be0;
    transition: all 0.35s ease-in-out;
    border-radius: 95px;
    padding: 0;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
}

.commentArea {
    padding: 5px;
    background-color: rgb(241, 250, 252);
    border-radius: 10px;
}

#commitBtn {
    padding: 5px auto;
}

@media screen and (max-width: 1140px) {
    .memProfImg {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 900px) {
    .memProfImg {
        width: 200px;
        height: 200px;
    }
}