main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
}

#circle-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/004/274/186/original/person-icon-user-interface-icon-silhouette-of-man-simple-symbol-a-glyph-symbol-in-your-web-site-design-logo-app-ui-webinar-video-chat-ect-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parent2 {
  margin-left: 30px;
}

.info {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#tag,
#advantage,
#word {
  margin: 10px;
}

.link-img {
  margin: 15px;
  margin-left: 20px;
  display: flex;
}

#velog-img {
  width: 40px;
  height: 40px;
  border-radius: 1px;
  margin: 10px;
  background-image: url('https://pbs.twimg.com/profile_images/1228368893321736193/Ov0og7E8_400x400.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#github-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/25/25231.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}